# https://clangd.llvm.org/config

Diagnostics:
  # Tweak Clang-Tidy checks.
  ClangTidy:
    Add: [performance*, modernize*, readability*]
    Remove:
      - modernize-use-trailing-return-type
      - readability-avoid-const-params-in-decls
      - readability-magic-numbers
      - readability-identifier-length
      - readability-function-cognitive-complexity
    CheckOptions:
      readability-identifier-naming.VariableCase: lower_case

CompileFlags:
  Add: [-xc, -std=c11, -Wall]