name: Cargo Publish

on:
  push:
    tags:
      - "*"

permissions:
  contents: write
  pull-requests: read

jobs:
  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    steps:
      - uses: ryohidaka/action-cargo-publish@v0.1.0
        with:
          path: "."
          token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          dry-run: false

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
